.cover {
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 740px;
    transition: 0.3s;
    max-width: 1184px;
    background-color:  #2A2C2F;
}

.cover__item {
    min-height: 740px;
    max-width: 1184px;
    margin: 0 auto;
    box-sizing: border-box;
    background: url(../images/cover_bg.jpg);
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    z-index: 1;
}

.cover__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
	transition: 0.3s ease-in-out;
    z-index: -1;
}

.cover__item:hover::after {
    opacity: 0.8;
}

.cover__title {
    max-width: 656px;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 243px auto 0 auto;
}

.cover__subtitles {
    max-width: 280px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0 auto;
}

.cover__subtitle {
    margin: 0;
}

.cover__subtitle:nth-child(1) {
    margin: 32px 0 0 0;
}

.cover__button {
    max-width: 97px;
    background-color: #0278FE;
    border-radius: 4px;
    display: block;
    margin: 32px auto 0;
    padding: 13px 20px 13px 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in-out;
    text-align: center;
}

.cover__button:hover {
    background-color: #0063D2;
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 246px auto 0 auto;
    }

    .cover {
        max-width: 768px;
    }
    
    .cover__item {
        max-width: 768px;
    }
}

@media screen and (max-width: 490px) {
    .cover {
        max-width: 320px;
        min-height: 254px;
        margin: 64px auto 0;
    }
    
    .cover__item {
        min-height: 254px;
        max-width: 320px;
    }
    
    .cover__bg {
        min-height: 254px;
        max-width: 320px;
    }
    
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 46px auto 0 auto;
    }
    
    .cover__subtitles {
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 0 auto;
    }

    .cover__subtitle:nth-child(1) {
        margin: 16px 0 0 0;
    }
    
    .cover__button {
        margin: 16px auto 0;
        line-height: 21px;
    }
}